{% extends "base.html" %} {% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.profile.images_created.count %}
        <p>
            Welcome to your dashboard. You have bookmarked {{ total_images_created}}
            image{{ total_images_created|pluralize }}.
        </p>
    {% endwith %}
    <p>
        Drag the following button to your bookmarks toolbar to bookmark images
        from other websites -> <a href="javascript:{% include "images/templates/bookmarklet_launcher.js" %}" class="button">
            Bookmark it
        </a>
    </p>
    <p>
        <a href="{% url "account:edit_profile" pk=request.user.id %}">Edit Profile</a>
    </p>
    <p>
        <a href="{% url "account:edit_user" pk=request.user.id %}">Edit User Info</a>
    </p>
    <p>
        <a href="{% url "account:password_change" %}">Change password</a>
    </p>
{% endblock content %}