services:

  backend:
    build: .
    container_name: backend
    command: python manage.py runserver 0.0.0.0:8000
    restart: always
    volumes:
      - ./core:/app
      - ./requirements.txt:/app/requirements.txt
    ports:
      "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  
  db:
    container_name: postgres
    image: postgres:alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.pgenv
    restart: always
    ports:
      - "5432:5432"

volumes:
  postgres_data: