# Django modules
django>=5.2,<6
django-extensions

# environment variables module
python-decouple

# postgresql adapter
psycopg[binary]

# image handling module
pillow

# clean code modules
flake8
black

# testing modules
pytest
pytest-django

# social auth modules
social-auth-app-django

# modules to run dev server locally
werkzeug
pyOpenSSl

# download images module
requests