name: Django Project Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker compose -f docker-compose-workflow.yml up -d
    - name: Run Tests
      run: docker compose exec bm_backend sh -c "flake8 && pytest ." 
